html, body {
  height: 100%;
}

body {
  font-family: sans-serif;
  width: 1128px;
  margin: 0 auto;
  background-color: #f4f5f6;
  overflow-y: scroll;
}

main {
  padding: 80px 5%;
  background-color: white;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  position: relative;
}

header h4 .fa {
  font-size: 16px;
  top: -2px;
  position: relative;
}

header h3 {
  position: absolute;
  top: 12px;
  display: block;
}

nav {
  margin-top: 56px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  padding-bottom: 16px;
  border-bottom: 1px solid #f4f5f6;
}

nav .fa, header h3 .fa {
  font-size: 24px;
  top: -2px;
  position: relative;
}

section h2 {
  margin-bottom: 8px;
  margin-top: 80px;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0.1rem solid #d1d1d1;
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  padding: .6rem 1.0rem;
  width: 100%;
  max-width: 10%;
  margin-right: 16px;
}

input:focus {
  border-color: #9b4dca;
  outline: 0;
}

select {
  max-width: 20%;
  margin: 16px 0;
  margin-right: 16px;
}

blockquote {
  margin: 0;
}

blockquote p {
  font-style: italic;
  margin: 0;
  display: inline;
  line-height: 1.5;
}

blockquote xmp {
  display: inline-block;
  background-color: #d1d1d1;
  font-weight: bold;
  padding: 2px 3px;
  margin: 0;
}

button {
  margin-top: 16px;
  margin-right: 16px;
}

button:focus {
  background-color: #9b4dca;
  border-color: #9b4dca;
}

.outputs {
  background: #f4f5f6;
  font-weight: bold;
  display: none;
  margin-top: 5px;
  margin-left: 0;
  border: 0;
  border-left: .3rem solid #9b4dca;
  color: #655d5d;
}

.list-item {
  position: relative;
  left: -10px;
}

.highlight {
  color: #9b4dca;
}
