body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 40px;
}

section {
  margin-left: 5%;
}

section h2 {
  margin-bottom: 8px;
  margin-top: 48px;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0.1rem solid #d1d1d1;
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  padding: .6rem 1.0rem;
  width: 100%;
  max-width: 10%;
  margin-right: 16px;
}

input:focus {
  border-color: #9b4dca;
  outline: 0;
}

blockquote {
  margin: 0;
}
blockquote p {
  font-style: italic;
  margin: 0;
  display: inline;
  line-height: 1.5;
}

blockquote xmp {
  display: inline-block;
  background-color: lightgray;
  font-weight: bold;
  padding: 2px 3px;
  margin: 0;
}

button {
  margin-top: 16px;
  margin-right: 16px;
}

.outputs {
  background: #f4f5f6;
  font-weight: bold;
  display: none;
  margin-top: 5px;
  margin-left: 0;
  border: 0;
  border-left: .3rem solid #9b4dca;
  color: #655d5d;
}

.list-item {
  position: relative;
  left: -10px;
}
.highlight {
  color: #9b4dca;
}
