body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 40px;
}

section {
  margin-left: 10%;
}

section h2 {
  margin-left: -5%;
  margin-bottom: 8px;
}

blockquote {
  margin: 0;
  margin-left: -5%;
  margin-bottom: 40px
}

blockquote p {
  font-style: italic;
  margin: 0;
  display: inline;
  line-height: 1.5;
}

blockquote xmp {
  display: inline-block;
  background-color: lightgray;
  font-weight: bold;
  padding: 2px 3px;
  margin: 0;
}

.outputs {
  background: lightgray;
  padding: 5px;
  color: red;
  font-weight: bold;
  display: none;
  margin-top: 5px;
}

#veggieListOutput ul {
  margin: 0;
  padding: 5px;
  padding-left: 20px;
  list-style-type: decimal;
}
#veggieListOutput ul li {
  padding: 5px;
}
